html body {
  background-color: #F8F8F8;
  font-family: 'Space Mono', monospace;
}


.form-login {
    width: 100%;
}

.react-datepicker__input-container input {
    /*! border: 1px solid teal; */
    padding: 10px;
    background-color: #ececec;
    color: grey;
    font-weight: 600;
    border-radius: 8px;
    width: 100%;
  }

  .react-datepicker-wrapper {
    width: 100%;
  }
